<div class="container">
  <form class="form" [formGroup]="authForm">
    <div class="form-property">
      <div class="label">Email</div>
      <input type="email" formControlName="email" />
    </div>
    <div class="form-property">
      <div class="label">Password</div>
      <input type="password" formControlName="password" />
      <div class="error" *ngIf="authForm.controls.password.getError('invalidPassword')">
        {{authForm.controls.password.getError('invalidPassword')}}
      </div>
      <div>
        <div class="actions">
          <button (click)="login()" class="meetups-button">Log In</button>
        </div>
      </div>
    </div>
  </form>
</div>