.container {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.form-property {
  padding-bottom: 15px;
}

.label {
  padding-right: 30px;
}

input {
  height: 35px;
}

.actions {
  display: flex;
  width: 180px;
  justify-content: flex-end;
  padding-top: 20px;
}

input.ng-invalid {
  border-color: red;
}
